.loginWrapper{
    width: 100vw;
    height: 100vh;
    background: #222831;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-image: url('./../../assets/images/wallpaper.png');
    object-fit: contain;
}

.toastContainer{
    display: flex;
    justify-content: center;
}