.signupWrapper{
    width: 100vw;
    height: 100vh;
    background: #222831;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    background-image: url('../../assets/images/wallpaper.png');
    object-fit: contain;
}